@model IEnumerable<SistemaAC.Models.Curso>
@{
    ViewData["Title"] = "Cursos";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a data-toggle='modal' data-target='#modalCS' class="btn btn-primary">Crear Curso</a>
</p>

<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onKeyUp="" class="form-control" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creditos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creditos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Horas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoriaID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CursoID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CursoID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CursoID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Modal Agregar Curso-->
<div class="modal fade" id="modalCS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Curso</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Nombre" class="col-md-2 control-label">Nombre</label>
                            <div class="col-md-10">
                                <input for="Nombre" id="Nombre" placeholder="Nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion" class="col-md-2 control-label">Descripci&oacute;n</label>
                            <div class="col-md-10">
                                <input for="Descripcion" id="Descripcion" placeholder="Descripcion" name="Descripcion" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Creditos" class="col-md-2 control-label">Cr&eacute;ditos</label>
                            <div class="col-md-10">
                                <input for="Creditos" id="Creditos" placeholder="Creditos" name="Creditos" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Horas" class="col-md-2 control-label">Horas</label>
                            <div class="col-md-10">
                                <input for="Horas" id="Horas" placeholder="Horas" name="Horas" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="col-md-2 control-label">Costo</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" for="Estado" id="Estado" name="Estado" />
                                </label>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Categoria" class="col-md-2 control-label">Categoria</label>
                            <div class="col-md-10">
                                <select id="CategoriaCursos" class="form-control">
                                    <option value='0'>Seleccione una Categoria</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label id="mensaje" class="col-md-2 control-label"></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarCurso()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
